{% extends "base.html" %}

{% block titulo %}
Lista de estudiantes
{% endblock titulo %}

{% block contenido %}
<a href="{% url 'lista_estudiantes' %}">Ver todos</a>
<a href="{% url 'crear_estudiante' %}">Crear estudiante</a>
<br><br>
<form action="{% url 'buscar_estudiantes' %}" method="post">
  {% csrf_token %}
  <input type="text" name="busqueda">
  <input type="submit" value="Buscar por apellido">
</form>
<br>
<h3>Alumnos inscritos:</h3>
<ul>
{% for estudiante in estudiantes %}
  <li>
    {{ estudiante.apellido}}, {{ estudiante.nombre}}
  </li>
{% endfor %}
</ul>
{% endblock contenido %}
